---
const { title } = Astro.props;
---

<div class="cert-section">
    <h3 class="cert-section-header">{title}</h3>
</div>

<style lang="scss">
    .cert-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cert-section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        font-size: 1.17rem;

        &::after {
            content: "";
            display: block;
            margin: 0.8rem;
            border-radius: 0.2rem;
            width: 5rem;
            height: 0.2rem;
            background: white;
        }
    }
</style>