---
const { title, projects } = Astro.props;
---

<div class="cert-section">
    <h3 class="cert-section-header">{title}</h3>
    {projects.slice(0,).map((proj) => (
        <p class="cert-section-project">
            <a href={proj.url}>
                {proj.url.split("/")[3].split("_").map((word) => (word.charAt(0).toUpperCase() + word.slice(1,))).join(" ")}
            </a>
        </p>
    ))}
</div>

<style lang="scss">
    .cert-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5rem;
    }

    .cert-section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        font-size: 1.17rem;
        margin: 0;

        &::after {
            content: "";
            display: block;
            margin: 0.8rem;
            border-radius: 0.2rem;
            width: 5rem;
            height: 0.2rem;
            background: white;
        }
    }

    .cert-section-project {
        margin: 0;
    }
</style>