---
const { title } = Astro.props;
---

<div class="cert-section">
    <h3 class="cert-section-header">{title}</h3>
    <div class="spacer" />
</div>

<style lang="scss">
    .cert-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cert-section-header {
        font-weight: 400;
        font-size: 1.17rem;
    }

    .spacer {
        width: 5rem;
        height: 0.1rem;
        background: white;
    }
</style>